In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import requests

In [2]:
print ("****STARTING WEBSCRAPPING ASSIGNMENT 4*******")

****STARTING WEBSCRAPPING ASSIGNMENT 4*******

In [3]:
print ("******QUESTION NO 1*******")

******QUESTION NO 1*******

In [4]:
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver.exe")

In [12]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [13]:
from selenium.webdriver.chrome.options import Options

In [14]:
from selenium.webdriver.chrome.service import Service

In [18]:
chrome_options = Options()
chrome_options.add_argument("--headless")
service = Service('path_to_chromedriver')
driver = webdriver.Chrome(service=service, options=chrome_options)

url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

table = driver.find_element(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]')

rank_element = []
name_element = []
artist_element = []
upload_date_element = []
views_element = []

rows = table.find_elements(By.XPATH, ".//tbody/tr")
for row in rows[1:]:
    columns = row.find_elements(By.XPATH, ".//td")

    if len(columns) >= 5:
        rank = columns[0].text.strip()
        name = columns[1].text.strip()
        artist = columns[2].text.strip()
        upload_date = columns[3].text.strip()
        views = columns[4].text.strip()

    rank_element.append(rank)
    name_element.append(name)
    artist_element.append(artist)
    upload_date_element.append(upload_date)
    views_element.append(views)

pd.set_option('display.max_columns', None)

data = {
    'Rank': rank_list,
    'Name': name_list,
    'Artist': artist_list,
    'Upload Date': upload_date_list,
    'Views': views_list
}
df = pd.DataFrame(data)

print(df)

driver.quit()

   Rank                                             Name  \
0    2.                                   "Despacito"[7]
1    3.                       "Johny Johny Yes Papa"[14]
2    4.                                  "Bath Song"[15]
3    5.                               "Shape of You"[16]
4    6.                              "See You Again"[18]
5    7.                "Phonics Song with Two Words"[23]
6    8.                          "Wheels on the Bus"[24]
7    9.                                "Uptown Funk"[25]
8   10.  "Learning Colors – Colorful Eggs on a Farm"[26]
9   11.                              "Gangnam Style"[27]
10  12.   "Masha and the Bear – Recipe for Disaster"[32]
11  13.                             "Dame Tu Cosita"[33]
12  14.                                     "Axel F"[34]
13  15.                                      "Sugar"[35]
14  16.                                       "Roar"[36]
15  17.                             "Counting Stars"[37]
16  18.                                      "Sorry"[38]
17  19.                        "Baa Baa Black Sheep"[39]
18  20.                          "Thinking Out Loud"[40]
19  21.           "Waka Waka (This Time for Africa)"[41]
20  22.                                 "Dark Horse"[42]
21  23.                                      "Faded"[43]
22  24.                                    "Perfect"[44]
23  25.                             "Lakdi Ki Kathi"[45]
24  26.                                 "Let Her Go"[46]
25  27.                             "Girls Like You"[47]
26  28.          "Humpty the train on a fruits ride"[48]
27  29.                                    "Lean On"[49]
28  30.                                   "Bailando"[50]

                                           Artist Upload Date  \
0                                      Luis Fonsi        8.14
1                                     LooLoo Kids        6.69
2                      Cocomelon – Nursery Rhymes        6.15
3                                      Ed Sheeran        5.97
4                                     Wiz Khalifa        5.86
5                                       ChuChu TV        5.26
6                      Cocomelon – Nursery Rhymes        5.14
7                                     Mark Ronson        4.89
8                                     Miroshka TV        4.87
9                                             Psy        4.77
10                                     Get Movies        4.55
11                                      El Chombo        4.32
12                                     Crazy Frog        3.87
13                                       Maroon 5        3.86
14                                     Katy Perry        3.78
15                                    OneRepublic        3.77
16                                  Justin Bieber        3.65
17                     Cocomelon – Nursery Rhymes        3.61
18                                     Ed Sheeran        3.58
19                                        Shakira        3.56
20                                     Katy Perry        3.50
21                                    Alan Walker        3.44
22                                     Ed Sheeran        3.42
23                                   Jingle Toons        3.42
24                                      Passenger        3.42
25                                       Maroon 5        3.40
26  Kiddiestv Hindi – Nursery Rhymes & Kids Songs        3.38
27                                    Major Lazer        3.37
28                               Enrique Iglesias        3.37

                Views
0    January 12, 2017
1     October 8, 2016
2         May 2, 2018
3    January 30, 2017
4       April 6, 2015
5       March 6, 2014
6        May 24, 2018
7   November 19, 2014
8   February 27, 2018
9       July 15, 2012
10   January 31, 2012
11      April 5, 2018
12      June 16, 2009
13   January 14, 2015
14  September 5, 2013
15       May 31, 2013
16   October 22, 2015
17      June 25, 2018
18    October 7, 2014
19       June 4, 2010
20  February 20, 2014
21   December 3, 2015
22   November 9, 2017
23      June 14, 2018
24      July 25, 2012
25       May 31, 2018
26   January 26, 2018
27     March 22, 2015
28     April 11, 2014

In [19]:
print ("*****END OF QUESTION N0.1*********")

*****END OF QUESTION N0.1*********

In [20]:
print ("*******QUESTION N0.2*********")

*******QUESTION N0.2*********

In [7]:
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")

In [8]:
driver.get('https://www.bcci.tv/international/fixtures')

In [30]:
button_click=driver.find_element(By.XPATH, '//span[@class="menu-icon__line"]')
button_click.click()

In [31]:
select_click=driver.find_element(By.XPATH, '//a[@class="nav-link "]')
select_click.click()

In [9]:
from selenium.webdriver.chrome.options import Options

In [10]:
from selenium.webdriver.chrome.service import Service

In [11]:
match_title = []
series = []
place = []
date = []
time = []

In [14]:
try:
    match_title_element = driver.find_element(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
    match_title.append(match_title_element.text)
except NoSuchElementException:
    match_title.append('N/A')

try:
    series_element = driver.find_element(By.XPATH, '//img[@class="igm-fluid ng-scope"]')
    series.append(series_element.text)
except NoSuchElementException:
    series.append('N/A')

try:
    place_element = driver.find_element(By.XPATH, '//span[@class="ng-binding"]')
    place.append(place_element.text)
except NoSuchElementException:
    place.append('N/A')

try:
    date_element = driver.find_element(By.XPATH, '//div[@class="match-dates ng-binding"]')
    date.append(date_element.text)
except NoSuchElementException:
    date.append('N/A')

try:
    time_element = driver.find_element(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
    time.append(time_element.text)
except NoSuchElementException:
    time.append('N/A')

In [15]:
data = {
    'Match Title': match_title,
    'Series': series,
    'Place': place,
    'Date': date,
    'Time': time
}
df = pd.DataFrame(data)
print(df)

                              Match Title Series   Place        Date  \
0  ICC WORLD TEST CHAMPIONSHIP FINAL 2023         London  7 JUN 2023

          Time
0  3:30 PM IST

In [16]:
print("****************QUESTION 2 complete**********, only one match is being displayed presently in international category")

****************QUESTION 2 complete**********, only one match is being displayed presently in international category

In [17]:
print("***************QUESTION NO 3*************")

***************QUESTION NO 3*************

In [29]:
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")

In [30]:
driver.get('https://www.statisticstimes.com/')

In [31]:
dropdown_click=driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]')
dropdown_click.click()

In [32]:
select_click=driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
select_click.click()

In [34]:
newselect_click=driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
newselect_click.click()

In [38]:
table = driver.find_element(By.CLASS_NAME, 'display')

rows = table.find_elements(By.TAG_NAME, 'tr')

data = []

for row in rows[1:]:
    columns = row.find_elements(By.TAG_NAME, 'td')
    
    
    if len(columns) >= 6:
        
        item = {
            'Rank': columns[0].text,
            'State': columns[1].text,
            'GSDP(18-19)- at current prices': columns[2].text,
            'GSDP(19-20)- at current prices': columns[3].text,
            'Share(18-19)': columns[4].text,
            'GDP($ billion)': columns[5].text
        }
    
        
        data.append(item)
    else:
        print("Skipping row with insufficient data")

Skipping row with insufficient data

In [39]:
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
df = pd.DataFrame(data)
print(df)

   Rank                      State GSDP(18-19)- at current prices GSDP(19-20)- at current prices Share(18-19) GDP($ billion)
0     1                Maharashtra                              -                      2,632,792       13.94%        399.921
1     2                 Tamil Nadu                      1,845,853                      1,630,208        8.63%        247.629
2     3              Uttar Pradesh                      1,687,818                      1,584,764        8.39%        240.726
3     4                    Gujarat                              -                      1,502,899        7.96%        228.290
4     5                  Karnataka                      1,631,977                      1,493,127        7.91%        226.806
5     6                West Bengal                      1,253,832                      1,089,898        5.77%        165.556
6     7                  Rajasthan                      1,020,989                        942,586        4.99%        143.179
7     8             Andhra Pradesh                        972,782                        862,957        4.57%        131.083
8     9                  Telangana                        969,604                        861,031        4.56%        130.791
9    10             Madhya Pradesh                        906,672                        809,592        4.29%        122.977
10   11                     Kerala                              -                        781,653        4.14%        118.733
11   12                      Delhi                        856,112                        774,870        4.10%        117.703
12   13                    Haryana                        831,610                        734,163        3.89%        111.519
13   14                      Bihar                        611,804                        530,363        2.81%         80.562
14   15                     Punjab                        574,760                        526,376        2.79%         79.957
15   16                     Odisha                        521,275                        487,805        2.58%         74.098
16   17                      Assam                              -                        315,881        1.67%         47.982
17   18               Chhattisgarh                        329,180                        304,063        1.61%         46.187
18   19                  Jharkhand                        328,598                        297,204        1.57%         45.145
19   20                Uttarakhand                              -                        245,895        1.30%         37.351
20   21            Jammu & Kashmir                              -                        155,956        0.83%         23.690
21   22           Himachal Pradesh                        165,472                        153,845        0.81%         23.369
22   23                        Goa                         80,449                         73,170        0.39%         11.115
23   24                    Tripura                         55,984                         49,845        0.26%          7.571
24   25                 Chandigarh                              -                         42,114        0.22%          6.397
25   26                 Puducherry                         38,253                         34,433        0.18%          5.230
26   27                  Meghalaya                         36,572                         33,481        0.18%          5.086
27   28                     Sikkim                         32,496                         28,723        0.15%          4.363
28   29                    Manipur                         31,790                         27,870        0.15%          4.233
29   30                   Nagaland                              -                         27,283        0.14%          4.144
30   31          Arunachal Pradesh                              -                         24,603        0.13%          3.737
31   32                    Mizoram                         26,503                         22,287        0.12%          3.385
32   33  Andaman & Nicobar Islands                              -                              -            -              -
33                           India                     20,351,013                     18,886,957                       2,869

In [40]:
print("***********END OF QUESTION 3 WITH DESIRED OUTPUT***************")

***********END OF QUESTION 3 WITH DESIRED OUTPUT***************

In [41]:
print("*********** QUESTION 4 *************")

*********** QUESTION 4 *************

In [6]:
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver.exe")

In [7]:
driver.get('https://github.com/')

In [9]:
search_bar=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/div/div[1]/div/div/form/label/input[1]')
search_bar.send_keys('trending')

In [8]:
from selenium.webdriver.common.keys import Keys

In [10]:
search_bar.send_keys(Keys.ENTER)

In [11]:
start = 0
end = 1

repository_titles = []
repository_descriptions = []
contributors_counts = []
language_used = []

for page in range(start, end):
    try:
        driver.get("https://github.com/search?q=trending&page=" + str(page))
        WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, '//a[@class="v-align-middle"]')))
        repository_title_elements = driver.find_elements(By.XPATH, '//a[@class="v-align-middle"]')
        for element in repository_title_elements:
            repository_titles.append(element.text)
    except NoSuchElementException:
        repository_titles.append('N/A')

    try:
        repository_desc_elements = driver.find_elements(By.XPATH, '//p[@class="mb-1"]')
        for element in repository_desc_elements:
            repository_descriptions.append(element.text)
    except NoSuchElementException:
        repository_descriptions.append('N/A')

    try:
        contributors_count_elements = driver.find_elements(By.XPATH, '//a[@class="Link--muted"]')
        for element in contributors_count_elements:
            contributors_counts.append(element.text)
    except NoSuchElementException:
        contributors_counts.append('N/A')

    try:
        language_used_elements = driver.find_elements(By.XPATH, '/html/body/div[1]/div[4]/main/div/div[3]/div/ul/li[1]/div[2]/div[2]/div/div[2]/span')
        for element in language_used_elements:
            language_used.append(element.text)
    except NoSuchElementException:
        language_used.append('N/A')



    
    max_len = max(len(repository_titles), len(repository_descriptions), len(contributors_counts), len(language_used))
    repository_titles += ['N/A'] * (max_len - len(repository_titles))
    repository_descriptions += ['N/A'] * (max_len - len(repository_descriptions))
    contributors_counts += ['N/A'] * (max_len - len(contributors_counts))
    language_used += ['N/A'] * (max_len - len(language_used))

#making data frame

data = {
    'Repository Title': repository_titles,
    'Repository Description': repository_descriptions,
    'Contributors Count': contributors_counts,
    'Language Used': language_used
}


df = pd.DataFrame(data)


print(df)

                      Repository Title  \
0        iam-abbas/Reddit-Stock-Trends
1                GeneralMills/pytrends
2       vitalets/github-trending-repos
3       mbadry1/Trending-Deep-Learning
4                    QasimWani/LeetHub
5         datawrangling/trendingtopics
6                                d3/d3
7         huchenme/github-trending-api
8  mitchelljy/Trending-YouTube-Scraper
9               Nightonke/GithubWidget

                              Repository Description Contributors Count  \
0          Fetch currently trending stocks on Reddit               1.5k
1                       Pseudo API for Google Trends               2.7k
2  Track GitHub trending repositories in your fav...               2.5k
3  Top 100 trending deep learning repositories so...                588
4  Automatically sync your leetcode solutions to ...               3.2k
5  Rails app for tracking trends in server logs -...                353
6  Bring data to life with SVG, Canvas and HTML. ...               105k
7  The missing APIs for GitHub trending projects ...                716
8  Python script that scrapes the currently trend...                238
9  Contributions, stars, followers, trending etc....                696

  Language Used
0        Python
1           N/A
2           N/A
3           N/A
4           N/A
5           N/A
6           N/A
7           N/A
8           N/A
9           N/A

In [69]:
print ("*******END OF QUESTION 4*************, only scraped data from page one")

*******END OF QUESTION 4*************, only scraped data from page one

In [70]:
print ("*******QUESTION 5**********")

*******QUESTION 5**********

In [13]:
#opening web
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")

In [14]:
driver.get('https:/www.billboard.com/')

In [15]:
charts_button=driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts_button.click() #clicking charts button on the homepage

In [16]:
view_charts=driver.find_element(By.XPATH, '//span[@class="c-span-wrap lrv-u-flex lrv-u-justify-content-center lrv-u-align-items-center u-height-76 lrv-u-background-color-brand-primary"]')
view_charts.click() #viewing top 100 chart

In [21]:
start = 0
end = 1

Song_name = []
Artist_name = []
Last_week_rank = []
Weeks_on_board = []

# Scrape song names
try:
    song_name_elements = driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]//li[@class="lrv-u-width-100p"]//li[1]//h3')
    for element in song_name_elements:
        Song_name.append(element.text)
except NoSuchElementException:
    Song_name.append('N/A')

# Scrape artist names
try:
    art_name_elements = driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]//li[@class="lrv-u-width-100p"]//li[1]//span')
    for element in art_name_elements:
        Artist_name.append(element.text)
except NoSuchElementException:
    Artist_name.append('N/A')

# Scrape last week ranks
try:
    LWR_elements = driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]//li[@class="lrv-u-width-100p"]//li[4]')
    for element in LWR_elements:
        Last_week_rank.append(element.text)
except NoSuchElementException:
    Last_week_rank.append('N/A')

# Scrape weeks on board
try:
    WOB_elements = driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]//li[@class="lrv-u-width-100p"]//li[6]')
    for element in WOB_elements:
        Weeks_on_board.append(element.text)
except NoSuchElementException:
    Weeks_on_board.append('N/A')

# Check lengths of lists and fill shorter lists with 'N/A'
max_length = max(len(Song_name), len(Artist_name), len(Last_week_rank), len(Weeks_on_board))
Song_name += ['N/A'] * (max_length - len(Song_name))
Artist_name += ['N/A'] * (max_length - len(Artist_name))
Last_week_rank += ['N/A'] * (max_length - len(Last_week_rank))
Weeks_on_board += ['N/A'] * (max_length - len(Weeks_on_board))

# Create a DataFrame
data = {
    'Song Name': Song_name,
    'Artist Name': Artist_name,
    'Last Week Rank': Last_week_rank,
    'Weeks on Board': Weeks_on_board
}

df = pd.DataFrame(data)

print (df.head(100))

          Song Name                           Artist Name Last Week Rank  \
0           Flowers                           Miley Cyrus              3
1         Kill Bill                                   SZA
2   Ella Baila Sola           Eslabon Armado X Peso Pluma              2
3         Calm Down                   Rema & Selena Gomez
4          Creepin'  Metro Boomin, The Weeknd & 21 Savage              4
..              ...                                   ...            ...
95          I Heard            YoungBoy Never Broke Again
96          Sunrise                         Morgan Wallen             41
97            Happy                                    NF
98              N/A                                   N/A             53
99              N/A                                   N/A

   Weeks on Board
0              18
1              23
2               9
3              37
4              24
..            ...
95              1
96             11
97              6
98            N/A
99            N/A

[100 rows x 4 columns]

In [23]:
print ("******END OF QUESTION 5******")

******END OF QUESTION 5******

In [24]:
print ("******QUESTION 6******")

******QUESTION 6******

In [25]:
print ("no data of top novels is present of the given link - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare")

no data of top novels is present of the given link - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare

In [26]:
print ("******END OF QUESTION 6******")

******END OF QUESTION 6******

In [30]:
print("QUESTION 7 - Scrape the details of the most watched TV series of all time from imdb.com.")

QUESTION 7 - Scrape the details of the most watched TV series of all time from imdb.com.

In [31]:
#open the web
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")
driver.get('https://www.imdb.com/list/ls095964455/')

In [38]:
#scrape the data

start = 0
end = 1

Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

# Scrape names
try:
    i_name_elements = driver.find_elements(By.XPATH, '//div[@class="lister-item mode-detail"]//h3//a')
    for element in i_name_elements:
        Name.append(element.text)
except NoSuchElementException:
    Name.append('N/A')

# Scrape year span
try:
    year_elements = driver.find_elements(By.XPATH, '//div[@class="lister-item mode-detail"]//h3//span[@class="lister-item-year text-muted unbold"]')
    for element in year_elements:
        Year_span.append(element.text)
except NoSuchElementException:
    Year_span.append('N/A')

# Scrape Genre
try:
    genre_elements = driver.find_elements(By.XPATH, '//div[@class="lister-item mode-detail"]//p//span[@class="genre"]')
    for element in genre_elements:
        Genre.append(element.text)
except NoSuchElementException:
    Genre.append('N/A')

# Scrape Run time
try:
    rt_elements = driver.find_elements(By.XPATH, '//div[@class="lister-item mode-detail"]//p//span[@class="runtime"]')
    for element in rt_elements:
        Run_time.append(element.text)
except NoSuchElementException:
    Run_time.append('N/A')
    
    # Scrape Ratings
try:
    ratings_elements = driver.find_elements(By.XPATH, '//div[@class="lister-item mode-detail"]//span[@class="ipl-rating-star__rating"]')
    for element in ratings_elements:
        Ratings.append(element.text)
except NoSuchElementException:
    Ratings.append('N/A')
    
    # Scrape Votes
try:
    votes_elements = driver.find_elements(By.XPATH, '//div[@class="lister-item mode-detail"]//span[@name="nv"]')
    for element in votes_elements:
        Votes.append(element.text)
except NoSuchElementException:
    Votes.append('N/A')
    
# Check lengths of lists and fill shorter lists with 'N/A'
    
max_length = max(len(Name), len(Year_span), len(Genre), len(Run_time), len(Ratings), len(Votes))
Name += ['N/A'] * (max_length - len(Name))
Year_span += ['N/A'] * (max_length - len(Year_span))
Genre += ['N/A'] * (max_length - len(Genre))
Run_time += ['N/A'] * (max_length - len(Run_time))
Ratings += ['N/A'] * (max_length - len(Ratings))
Votes += ['N/A'] * (max_length - len(Votes))

    
print("scrape successfull")

scrape successfull

In [48]:
#make data frame and print the result
pd.DataFrame({'Name':Name,'Year_span':Year_span,'Genre':Genre,'Ratings':Ratings,'Votes':Votes}).head(5)

               Name    Year_span                     Genre Ratings      Votes
0   Game of Thrones  (2011–2019)  Action, Adventure, Drama     9.2  2,163,377
1   Stranger Things  (2016–2024)    Drama, Fantasy, Horror          1,243,199
2  The Walking Dead  (2010–2022)   Drama, Horror, Thriller    Rate  1,027,704
3    13 Reasons Why  (2017–2020)  Drama, Mystery, Thriller            302,304
4           The 100  (2014–2020)    Drama, Mystery, Sci-Fi            261,418

In [41]:
print ("*****END OF QUESTION 7******")

*****END OF QUESTION 7******

In [43]:
print ("END OF QUESTION 8 - Details of Datasets from UCI machine learning repositories - Url = https://archive.ics.uci.edu/")

END OF QUESTION 8 - Details of Datasets from UCI machine learning repositories - Url = https://archive.ics.uci.edu/

In [71]:
#open web
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")
driver.get('https://archive.ics.uci.edu/')

In [72]:
#selecting desired button
select=driver.find_element(By.XPATH, '//span[@class="whitetext"][2]//a[1]')
select.click()

In [78]:
# Find all the dataset rows
dataset_rows = WebDriverWait(driver, 10).until(
    EC.presence_of_all_elements_located((By.XPATH, "//table[@border='1']/tbody/tr"))
)

# Scrape the dataset details
datasets = []
counter = 0
for row in dataset_rows:
    if counter >= 10:
        break

    dataset_info = row.find_elements(By.TAG_NAME, "td")
    if len(dataset_info) >= 8:
        dataset_name = dataset_info[0].text
        data_type = dataset_info[1].text
        task = dataset_info[2].text
        attribute_type = dataset_info[3].text
        no_of_instances = dataset_info[4].text
        no_of_attributes = dataset_info[5].text
        year = dataset_info[6].text

        dataset = {
            "Dataset Name": dataset_name,
            "Data Type": data_type,
            "Task": task,
            "Attribute Type": attribute_type,
            "No of Instances": no_of_instances,
            "No of Attributes": no_of_attributes,
            "Year": year
        }
        datasets.append(dataset)

        counter += 1

# Create a DataFrame
df = pd.DataFrame(datasets)

# Print the first 10 rows of the DataFrame
print(df.head(10))

                     Dataset Name Data Type                          Task  \
0                         Abalone                                 Abalone
1                           Adult                                   Adult
2                       Annealing                               Annealing
3    Anonymous Microsoft Web Data            Anonymous Microsoft Web Data
4                      Arrhythmia                              Arrhythmia
5           Artificial Characters                   Artificial Characters
6            Audiology (Original)                    Audiology (Original)
7        Audiology (Standardized)                Audiology (Standardized)
8                        Auto MPG                                Auto MPG
9                      Automobile                              Automobile

  Attribute Type       No of Instances             No of Attributes    Year
0  Multivariate        Classification   Categorical, Integer, Real    4177
1  Multivariate        Classification         Categorical, Integer   48842
2  Multivariate        Classification   Categorical, Integer, Real     798
3                 Recommender-Systems                  Categorical   37711
4  Multivariate        Classification   Categorical, Integer, Real     452
5  Multivariate        Classification   Categorical, Integer, Real    6000
6  Multivariate        Classification                  Categorical     226
7  Multivariate        Classification                  Categorical     226
8  Multivariate            Regression            Categorical, Real     398
9  Multivariate            Regression   Categorical, Integer, Real     205

In [79]:
print ("*****QUESTION NO 8 COMPLETE, ONLY SCRAPPED FIRST 10 RESULTS, not able to correct indexing****")

*****QUESTION NO 8 COMPLETE, ONLY SCRAPPED FIRST 10 RESULTS, not able to correct indexing****

In [80]:
print("****QUESTION NO 9 - Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants")

****QUESTION NO 9 - Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants

In [87]:
#open web
driver=webdriver.Chrome(r"C:\Users\cws\Desktop\chromedriver_win32\chromedriver.exe")
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [88]:
#sending required input
search=driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys('Data Science')

In [92]:
from selenium.webdriver.common.keys import Keys
search.button=driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search.button.click()

In [96]:
# Scrape data
Name = []
Designation = []
Company = []
Skills = []
Location = []

start = 0
end = 1
for page in range(start, end):
    # Scrape names
    try:
        i_name_elements = driver.find_elements(By.XPATH, '//div[@class="outerRecSec"]//div[@class="recSec fl fadeInUp"]//span[@class="fl ellipsis"]')
        for element in i_name_elements:
            Name.append(element.text)
    except NoSuchElementException:
        Name.append('N/A')

    # Scrape Designation
    try:
        desg_elements = driver.find_elements(By.XPATH, '//div[@class="outerRecSec"]//div[@class="recSec fl fadeInUp"]//span[@class="ellipsis clr"]')
        for element in desg_elements:
            Designation.append(element.text)
    except NoSuchElementException:
        Designation.append('N/A')

    # Scrape Company
    try:
        comp_elements = driver.find_elements(By.XPATH, '//div[@class="outerRecSec"]//div[@class="recSec fl fadeInUp"]//a[2]')
        for element in comp_elements:
            Company.append(element.text)
    except NoSuchElementException:
        Company.append('N/A')

    # Scrape Skills
    try:
        sk_elements = driver.find_elements(By.XPATH, '//div[@class="outerRecSec"]//div[@class="recSec fl fadeInUp"]//div[@class="hireSec highlightable"]')
        for element in sk_elements:
            Skills.append(element.text)
    except NoSuchElementException:
        Skills.append('N/A')

    # Scrape Location
    try:
        loc_elements = driver.find_elements(By.XPATH, '//div[@class="outerRecSec"]//div[@class="recSec fl fadeInUp"]//small[@class="ellipsis"]')
        for element in loc_elements:
            Location.append(element.text)
    except NoSuchElementException:
        Location.append('N/A')

# Check lengths of lists and fill shorter lists with 'N/A'
max_length = max(len(Name), len(Designation), len(Company), len(Skills), len(Location))
Name += ['N/A'] * (max_length - len(Name))
Designation += ['N/A'] * (max_length - len(Designation))
Company += ['N/A'] * (max_length - len(Company))
Skills += ['N/A'] * (max_length - len(Skills))
Location += ['N/A'] * (max_length - len(Location))

print("Scrape Successful")

Scrape Successful

In [98]:
data = {
    'Name': Name,
    'Designation': Designation,
    'Company': Company,
    'Skills': Skills,
    'Location': Location
}

df = pd.DataFrame(data)
print(df.head())

                                            Name        Designation  \
0                                   Aakash Harit         HR Manager
1                       MARSIAN Technologies LLP         Company HR
2                                   subhas patel        Founder CEO
3  Institute for Financial Management and Resear  Programme Manager
4                                  Asif Lucknowi           Director

                      Company  \
0        Data Science Network
1    MARSIAN Technologies LLP
2             LibraryXProject
3                        IFMR
4  Weupskill- Live Wire India

                                              Skills       Location
0  Classic ASP Developer, Internet Marketing Prof...          Delhi
1  Data Science, Artificial Intelligence, Machine...           Pune
2  Hadoop, Spark, Digital Strategy, Data Architec...  UK - (london)
3                                       Data Science        Chennai
4  Technical Training, Software Development, Pres...         Indore

In [99]:
data = pd.DataFrame({'Name':Name,'Designation':Designation,'Company':Company,'Location':Location,'Skills':Skills})
#check first five rows
data.head()

,Name,Designation,Company,Location,Skills
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
2,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
3,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
4,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."

In [100]:
print ("****END OF QUESTION 9*******")
print ("*****END OF WEB SCRAPPING ASSIGNMENT NO 4")

****END OF QUESTION 9*******
*****END OF WEB SCRAPPING ASSIGNMENT NO 4